// common 
@import "./common/header.scss";
@import "./common/slideBar.scss";
@import "./common/home.scss";
@import "./common/page.scss";
// componet
@import "components/defaultLayout.scss";
@import "components/acountItem.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
//config Body Html 
//StyleGlobal
@import "style/popper.scss";
@import "style/selection.scss";
@import "style/popperMenuNoAuthen.scss";

:root {
    --primary: rgba(254, 44, 85, 1.0);
    --defautl: #cccccc;
    --while: #fff;
    --black: #000;
    //deffautllayOut
    --default-layout-header: 60px;
    --default-layout-width : 1150px
}

* {
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: rgb(0, 0, 0);
}

html {
    font-size: 62.5%;
}